$color-primary: #eb07a7;
$color-secondary: rgb(253, 19, 183);
$color-off-white: rgb(242, 240, 240);
$font-main-family: "Red Hat Display", sans-serif;
$font-decorative-family: "Euphoria Script";

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    margin: 0;
    font-size: 18px;
    font-family: $font-main-family, sans-serif;
}

.contact__text, .form-message {
    text-align: center;
}

.message {
	width: 50vw;
	font-size: 18px;
    margin: 0;
    padding: 10px;
}

.form-item {
    margin: 0;
}

.submit {
    margin: 20px 0;
    font-size: 18px;
    padding: 10px 20px;
    background-color: $color-primary;
    color: $color-off-white;
}

.submit:hover {
    background-color: $color-secondary;
}

.site-header {
    margin: 20px;
}

.main {
    margin: 40px 40px 50px 40px;
    flex-grow: 1;
}

.logo {
    display: block;
    margin: 0 auto;
    max-width: 30vw;
}

.menu__nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.menu__item--home {
    display: none;
}

.menu__item {
   background-color: rgb(30, 29, 31);
   border-bottom: 1px solid $color-off-white;
   border-right: 1px solid $color-off-white;
   padding: 20px; 
   font-size: 20px;
}

.menu__link {
    text-decoration: none;
    display: block;
    color: $color-off-white;
}

.menu__item:hover {
    background-color: rgb(77, 74, 79)
}

.site-header {
    justify-content: space-evenly;
}

.slogan {
    text-align: center;
    color: $color-primary;
    font-family: $font-main-family;
    font-size: 36px;
    margin-top: 60px;
    font-weight: 500;
}

.slogan::before 
 {
    content:"";
    display: block;
    margin: 20px auto;
    width: 60%;
    border: 3px solid lightgray;
}

.slogan::after
 {
    content:"";
    display: block;
    margin: 20px auto;
    width: 70%;
    border: 3px solid lightgray;
}

.about-title::before, 
.products-title::before, 
.delivery-title::before, 
.contact__title::before, 
.products__title::before {
    content:"";
    display: block;
    margin: 20px auto;
    width: 20%;
    border: 3px solid lightgray;
}

.about-title::after, 
.products-title::after, 
.delivery-title::after, 
.contact__title::after, 
.products__title::after {
    content:"";
    display: block;
    margin: 20px auto;
    width: 30%;
    border: 3px solid lightgray;
}

.product-card {
    max-width: 350px;
    border: 1px solid black;
    margin: 80px auto;
}

.product-card:nth-child(1) {
    margin-top: 0px;
}

.product-card__image {
    max-width: 100%;
    border-bottom: 1px solid black;
}

.product-card__info {
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    gap: 5px;
}

.product-card__descr {
    padding: 0 10px;
}

.product-card__button {
    text-align: center;
    background-color: $color-primary;
    margin: 0;
    padding: 15px;
}

.product-card__button:hover {
    background-color: $color-secondary;
}

.product-card__link {
    color: $color-off-white;
    text-decoration: none;
}

.products-categories {
    margin: 50px 0;
}

.product-categories__category {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    background-color: rgb(239, 238, 238);
}

.products-categories__descr {
    font-size: 32px;
    color: black;
}

.products-categories__link {
    text-decoration: none;
}

.product-categories__category:hover {
    border: 3px solid black;
}


.about-title, .products-title, .delivery-title, .contact__title, .products__title {
    margin-top: 60px;
    text-align: center;
    color: $color-primary;
}

.about__picture {
    max-width: 300px;
}

.footer {
    max-height: 20%;
    color: $color-off-white;
    background-color: rgb(24, 24, 24);
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-menu__item {
    margin: 15px;
    padding: 0;
}

.footer-menu__link {
    color: $color-off-white;
    text-decoration: none;
}


@media screen and (min-width: 1010px) {
    .products-feed {
        display: grid;
        grid-template-columns: repeat(auto-fill, 350px);
        gap: 60px;
        justify-content: center;
        margin: 60px 10px;
    }

    .menu__nav {
        display: flex;
        gap: 30px;
        justify-content: center;
        background-color: lightgray;
    }

    .menu__item {
        padding: 20px;
        background-color: lightgray;
        border: 0;
    }

    .menu__link {
        color: #222222;
    }

    .menu__item:hover {
        background-color: rgb(189, 189, 189);
    }

    .products-categories {
        display: grid;
        grid-template-columns: repeat(3, 225px);
        justify-content: center;
        grid-gap: 30px 50px;
    }

    .product-categories__category {
        margin: 0;
    }

    .menu__item--home {
        display: block;
    }

    .product-card {
        margin: 0;
        max-height: auto;
    }

    .about {
        display: flex;
    }

    .about__text {
        flex-basis: 50%;
        margin-left: 20px;
    }
}




